<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <title>Emi.ly</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h2>Full URL and its shortened form:</h2>
  <ul>
    <li><strong>full url: </strong><%= longURL %></li>
    <li><strong>shortened: </strong><%= shortURL %></li>
  </ul>
</body>
</html>
