<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <title>Emi.ly</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h2>Shortened URLS:</h2>
    <ul>
      <% for (var prop in urls) { %>
        <li><strong><%= prop %>: </strong><%= urls[prop] %></li>
        <form action="/urls/<%= prop %>">
          <input type="submit" value="Edit" />
        </form>
        <form action="/urls/<%= prop %>/delete" method="POST">
          <input type="submit" value="Delete" class="btn btn-default">
        </form>
      <% } %>
        <li><a href="/urls/new">Create new link</a></li>
    </ul>
</body>
</html>
